fastapi==0.115.7
uvicorn==0.34.0
pydantic-settings==2.7.1
nltk==3.9.1
PyMuPDF==1.25.2
pytesseract==0.3.13
pdf2image==1.17.0
langdetect==1.0.9
transformers==4.48.1
sumy==0.11.0
spacy==3.8.4
torch==2.5.1
tiktoken==0.8.0
sentencepiece==0.2.0